<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>取引先登録</title>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
<!--    <script type="text/javascript" src="/js/inputCheck.js"></script>-->
    <script type="text/javascript" src="/js/torihikisaki_edit.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/manage.css" type="text/css">
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/header.css" type="text/css"/>
    <style>
        .SEIKYUJYOHO {
            width: 40%;
        }

        .SEIKYUJYOHO table {
            border: none;
        }

        .SEIKYUJYOHO table td {
            border: none;
            height: 45px;
            text-align: left;
        }
        .SEIKYUJYOHO table td label{
            padding-left: 10px;
        }
        .SEIKYUJYOHO .COLUMN1 {
            width: 160px;
        }

    </style>
</head>

<body>
<!--暂不用页头片段-->
<!--<div th:replace="Shared/_head::head"></div>-->
<div id="edit_box" class="content">
    <h1><span>■</span>取引先登録</h1>
    <div class="content-inner">
        <form class="edit-form" method="post" th:action="@{/TORIHIKISAKI/MainAddSave}">
            <h2>基本情報</h2>
            <div class="content-part">
                <div class="row">
                    <label for="TORIHIKI_NAME_ALL">取引先名（全名）</label>
                    <input type="text" id="TORIHIKI_NAME_ALL" name="TORIHIKI_NAME_ALL" value="" /><span style="color: red">*</span>
                </div>
                <div class="row">
                    <label for="TORIHIKI_NAME_RYAKU">会社名（略名）</label>
                    <input type="text" id="TORIHIKI_NAME_RYAKU" name="TORIHIKI_NAME_RYAKU" value="" /><span style="color: red">*</span>
                </div>
                <div class="row">
                    <label for="YUUBIN">住所</label>
                    <span style="margin: 0 5px">〒</span><input type="text" id="YUUBIN" name="YUUBIN" style="width: 130px" value="" /><span style="color: red">*</span>
                </div>
                <div class="row">
                    <label for="JYUSYO_1"></label>
                    <input type="text" id="JYUSYO_1" name="JYUSYO_1" style="width: 400px" value="" /><span style="color: red">*</span>
                    <span>番地まで</span>
                </div>
                <div class="row">
                    <label for="JYUSYO_2"></label>
                    <input type="text" id="JYUSYO_2" name="JYUSYO_2" style="width: 400px;" value="" />
                    <span>マンション名・号室など</span>
                </div>
                <div class="row">
                    <label for="TEL">電話</label>
                    <input type="text" id="TEL" name="TEL" style="ime-mode: disabled;" value="" />
                </div>
                <div class="row">
                    <label for="FAX">FAX</label>
                    <input type="text" id="FAX" name="FAX" style="ime-mode: disabled;" value="" />
                </div>

                <div class="row">
                    <label for="URL">ホームページ</label>
                    <input type="text" id="URL" name="URL" style="ime-mode: disabled;width: 400px" value="" />
                </div>
                <div class="row textarea-row">
                    <label for="BIKOU">備考</label>
                    <textarea id="BIKOU" name="BIKOU"></textarea>
                </div>
                <!--理论消除值是？-->
                <div class="row textarea-row">
                    <label for="DELETE_FLAG">論理削除</label>
                    <input type="radio" id="DELETE_FLAG" name="DELETE_FLAG" value="1" checked>1</input>
                    <input type="radio"  name="DELETE_FLAG" value="0" >0</input>
                </div>

            </div>

            <h2>請求情報</h2>
            <div class="content-part">
                <div class="row" style="text-align: right">
                    <input type="button" value="新規行追加"
                           style="background-color: #a5a5a5; padding: 2px 20px; background-image: initial"
                           id="work-history-add" onclick="add_tantou()">
                    <input type="button" value="最後行削除"
                           style="background-color: #a5a5a5; padding: 2px 20px; background-image: initial"
                           id="work-history-remove" onclick="remove_tantou()">
                </div>
                <div class="row">
                    <table class="tantou-table text-center-table">
                        <tr>
                            <th style="width: 5%">To</th>
                            <th style="width: 5%">CC</th>
                            <th style="width: 10%">姓</th>
                            <th style="width: 10%">名</th>
                            <th style="width: 20%">メールアドレス</th>
                            <th style="width: 10%">所属</th>
                            <th style="width: 10%">役職</th>
                            <th style="width: 20%">個人電話番号</th>
                            <th style="width: 10%">備考</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="text-align: center">
                <input type="submit" value="登  録" onclick="return submit_check();" style="cursor: pointer">
            </div>
        </form>
    </div>
    <br/><br/><br/><br/>
</div>
</body>
</html>