@CHARSET "UTF-8";

.headerBoxContainer {
	overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

/* clearfix */
.headerBoxContainer:before,
.headerBoxContainer:after {
    content: "";
    display: table;
}

.boxContainer:after {
    clear: both;
}

.headerBox1 {
	float: left;
	width:300px;
	line-height:2;
	vertical-align:middle;
}
.headerBox2 {
	float: left;
	width:400px;
	font-size:28px;
	line-height:3;
	vertical-align:middle;
	text-align:center ;
}
.headerBox3 {
	float: left;
	width:300px;
	text-align: right;
}

.headerBox4 {
	float: left;
	width:300px;
}
.headerBox5 {
	float: left;
	width:300px;
}
.headerBox6 {
	float: left;
	width:300px;
}
.headerBox7 {
	float: left;
	width:100px;
}

.meun_1,.meun_2,.meun_3,.meun_4 {
	float: left;
	margin-right:5px;
}
.meun_1 input {
	width:80px;
	height:30px;
	text-align:center;
	padding-top:10px; padding-bottom:0px;padding-right:0px;padding-left:0px;
	background:url('../images/11.png') no-repeat;
    border-top:1px solid #708090;
    border-right:1px solid #708090;
    border-bottom:1px solid #708090;
    border-left:1px solid #708090;
}
.meun_2 input {
	width:80px;
	height:30px;
	text-align:center;
	padding-top:10px; padding-bottom:0px;padding-right:0px;padding-left:0px;
	background:url('../images/12.png') no-repeat;
    border-top:1px solid #708090;
    border-right:1px solid #708090;
    border-bottom:1px solid #708090;
    border-left:1px solid #708090;
}
.meun_3 input {
	width:80px;
	height:30px;
	text-align:center;
	padding-top:10px; padding-bottom:0px;padding-right:0px;padding-left:0px;
	background:url('../images/13.png') no-repeat;
    border-top:1px solid #708090;
    border-right:1px solid #708090;
    border-bottom:1px solid #708090;
    border-left:1px solid #708090;
}

.meun_4 input {
	color:#ffffff;
	background: #f47c20;
	width:80px;
	height:30px;
	text-align:center;
	padding:0px;
	border-top:1px solid #708090;
	border-right:1px solid #708090;
	border-bottom:1px solid #708090;
	border-left:1px solid #708090;
}

.meun_1 input:hover,.meun_2 input:hover,.meun_3 input:hover {
	background: #f47c20;
	width:80px;
	height:30px;
	text-align:center;
	padding:0px;
	border-top:1px solid #708090;
	border-right:1px solid #708090;
	border-bottom:1px solid #708090;
	border-left:1px solid #708090;
}
.meun_1 input:focus, .meun_2 input:focus, .meun_3 input:focus {
	color:#ffffff;
	background: #f47c20;
	width:80px;
	height:30px;
	text-align:center;
	padding:0px;
	border-top:1px solid #708090;
	border-right:1px solid #708090;
	border-bottom:1px solid #708090;
	border-left:1px solid #708090;
}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #3f9df3;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #417dd8;/*線色*/
}

.square_btn:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

